[Unit]
Description=IMU data
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/app/scripts/IMU_DATA.py
Restart=always
 
[Install]
WantedBy=multi-user.target

